<div class="catalog">
    <ul class="list">
        <li>
            <div class="imgbox">
                <img [src]="imager(item)" [alt]="item.name">
            </div>
            <div class="idbox" >
                <div class="id">Products ID:</div>
                <div class="idvalue"> {{ item.id }} </div>
            </div>
            <div class="namebox" #name>
                <div class="name">Products name:</div>
                <div class="namevalue"> {{item.name}} </div>
            </div>
            <div class="descbox">
                <div class="description">About Products:</div>
                <div class="descvalue"> {{item.category}} </div>
            </div>
            <div class="pricebox">
                <div class="price">Price:</div>
                <div class="pricevalue"> {{item.price}} </div>
            </div>
            <div class="btn" *ngIf="item.available; else request">
                Buy
            </div>
            <ng-template #request >
                <div class="btn" >
                    Send Request
                </div>
            </ng-template>
        </li>
    </ul>
</div>